@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: "Nunito", sans-serif;
}
div {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    background-image: url('https://www.linktv.org/sites/kl/files/thumbnails/image/amargosa-river-stars.jpg');
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #0000FF;
    border-bottom: 1px solid blue;
    position: fixed;
    width: 100%;
}
nav + .home{
    padding-top: 130px;
}
.logo {
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 60px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: black;
    transition: o.5s;
}
.center img {
    height: 350px;
    width: 350px;
    margin-top: 40px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 50%;
}
.center {
    text-align: center;
    color: white;
  }
.center a {
    text-decoration: none;
    font-size: 10px;
    background: #0000FF;
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 30px;
    border: 2px solid white;
    transition: .5s;
}
.center a:hover {
    background: transparent;
}
.about, .skill, .contact {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #000000;
    color: white;
}
.aboutme {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutme img {
    height: auto;
    width: 430px;
    border-radius: 10px;
}
.abouttext {
    width: 500px;
}
.aboutme h2 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.abouttext p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
.button {
    text-decoration: none;
    background-color: blue;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}
.button :hover {
    background-color: transparent;
    border: 2x solid red;
    cursor: pointer;
}
.card {
    background-color: gray;
    border: 2px solid blue;
}
